{% extends 'base.html' %}

{% block title %}
Обновити статтю
{% endblock %}

{% block body %}
<div class="container">
<h1>Обновити статтю</h1>
<form method="post">
    <input type="text" name="title" id="title" class="form-control" value = " {{article.title}} " placeholder="Введіть назву статті"><br>
    <textarea name="intro" id="intro" class="form-control" value = " {{article.intro}} " >{{article.intro}}</textarea><br>
    <textarea name="text" id="text" class="form-control" value = " {{article.text}} " >{{article.text}}</textarea><br>
    <input type="submit" class="btn btn-success" value="Обновить"><br>
</form>
</div>
{% endblock %}